In [11]:
import pandas as pd

In [ ]:
# Selection of rows and columns from a table

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [7]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City','State'])
ufo.columns

Index([u'City', u'State'], dtype='object')

In [8]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0,4])
ufo.columns

Index([u'City', u'Time'], dtype='object')

In [9]:
ufo =pd.read_csv('http://bit.ly/uforeports', nrows=3)

In [10]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [12]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [14]:
# DataFrames and Series
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

(0, 'Ithaca', 'NY')
(1, 'Willingboro', 'NJ')
(2, 'Holyoke', 'CO')

In [19]:
# Drapping the non-numeric column on Data
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [20]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [22]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object